@charset "utf-8";
@import url(./reset.css);

main{
    width: 100vw;
    height: 100vh;
}
/* 공사중 */
body * {
    outline: 5px dashed green;
}
a {
    text-decoration: none;
}
header {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0.9;
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-content: center;
    flex-direction: row;
    align-items: center;
    z-index: 500;
}

ul,ol,li {
    margin: 0;
    padding: 0;
    list-style: none;
}
ul::after,
ol::after,
.clb::after {
    content: "";
    display: block;
    clear: both;
}
.part-box {   
    position: relative;
}

.logo {
    /* line-height: 100px; */
}
.logo img {
    position: absolute;
    top: 0px;
    left: 0px;
    width: min(173px, 14vw);
}

.gnb {
    padding: 0px 0 0 min(0%, 9vw);
}
/* 최상위 직계 li만 적용 */
.gnb > ul > li {
    position: relative;
    /* 부모자격 - .sub-menu */
    float: left;
    /* 나는 왼쪽 너는 오른쪽으로 올라와 */
    width: min(150px, 9vw);
    height: 103px;
}

/* 네비게이션 링크 a */
.gnb a {
    color: #fff;
    text-decoration: none;
    font-size: min(20px, 1.2vw);
    padding: 0px min(32px, 2vw);
    line-height: 80px;
}
/* 상위메뉴 오버시 레드 */
.gnb > ul > li > a:hover {
    color: red;
}

/* 서브메뉴 
- 높이값 0으로 숨길 때 숨길박스에 보더나 패딩이 있으면 완전히 숨길수 없다.
따라서 보더, 패딩은 없어야함
*/
.sub-menu {
    position: absolute;
    left: 50%;
    /* 가로방향 메뉴 정중앙 이동 */
    transform: translateX(-50%);
    width: min(150px, 9vw);
    background-color: rgba(0, 0, 0, 0.9);
    /* 박스글로우 효과 */
    /* box-shadow: inset 0 0 5px lightblue; */

    /* 숨기기 높이값 0 */
    height: 0;
    /* 넘치는 요소 숨기기 */
    overflow: hidden;
    /* 투명하게 */
    opacity: 0;

    /* 트랜지션 */
    transition: 0.4s ease-in-out;
}
/* 상위메뉴 li에 마우스 오버시 서브메뉴 보이기 애니 */
.gnb > ul:hover > li .sub-menu {
    /* height: auto; 
    - 자동 높이값은 애니메이션 불가*/
    opacity: 1;
}

/* 서브 메뉴별 개수로 높이값 차등설정 */
.gnb > ul:hover > li .sub-menu {
    height: calc(40px * 7);
}
li {
    text-align: center;
}
/* 서브메뉴 a */
.sub-menu a {
    display: block;
    width: 100%;
    height: 100%;
    padding: 0;
    line-height: 40px;
    font-size: min(16px, 1.6vw);
    /* 반투명 */
    opacity: 0.9;
    /* 트랜지션 */
    transition: 0.3s;
}
/* 서브오버시 효과 */
.sub-menu a:hover {
    opacity: 1;
    background-color: red;
    

}


/* snb 메뉴 */
.sn {
    /* position: absolute;
    display: inline-block; */
    height: 100%;
}
.sn a {
    float: left;
    /* vertical-align: middle; */
    width: 100%;
    height: 100%;
    color: #fff;
    text-align: center;
    font-size: 0.85em;
    padding: 0 10px;
}