@charset "utf-8";

html,body{
    margin: 0;
    padding: 0;
}
body{
    background: url(../../01.자료수집/imgs/lane.jpg) no-repeat top/cover;
}
body *{
    outline: 2px dashed yellow;
}
.ball1{
    content: '';
    position: absolute;
    top: 100%;
    left: 45%;
    width: 200px;
    height: 200px;
}


.ball1 img:hover{
    animation: radious 2s ease-out forwards;
    /* transform-origin: center center; */
}

@keyframes radious {
    25%{transform: translate(30px, -187.5px) rotate(5000deg) scale(.8);}
    50%{transform: translate(50px, -375px) rotate(5000deg) scale(.6)}
    75%{transform: translate(70px, -562.5px) rotate(5000deg) scale(.4)}
    100%{transform: translate(20px, -740px) rotate(5000deg) scale(.2)}
}