@charset "utf-8";

html,body{
    margin: 0;
    padding: 0;
}
body{
    background: url(../../01.자료수집/imgs/lane.jpg) no-repeat top/cover;
}
body *{
    outline: 2px dashed yellow;
}
.ball1{
    content: '';
    position: absolute;
    top: 100%;
    left: 45%;
    width: 200px;
    height: 200px;
}


.ball1 img:hover{
    transform: translateY(-700px) rotate(20000deg) scale(.2);
    transition-duration: 3s;
    transition-timing-function: cubic-bezier(1, -0.46, 1, 1);
    transform-origin: center center;
}